footer {
    height: 20vh;
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_icon {
    height: 4em;
    margin: 1em;
    fill: white;
}

.footer_icon:hover {
    fill: var(--footer-icon-hover);
}

.footerlink, h4 {
    font-size: 25px;
    color: white;
    padding: 0 .5em;
    text-decoration: none;
}

.toggle_footer {
    display: flex;
}

.footer_button {
    outline: none;
    border: none;
    background-color: var(--footer-background-color);
}

.footer_button:hover > h4, .footerlink:hover {
    color: var(--footer-icon-hover);
    cursor: pointer;
}