.profile_picture {
    height: 50%;
    width: 50%;
    border: 2px solid var(--primary-color);
    margin-bottom: 3em;
}

.skills {
    width: 100%;
}


@media screen and (max-width: 800px) {
    .profile_picture {
        width: 90vw;
    }
}

@media screen and (max-width: 1375px) {
    .profile {
        width: 75vw;
    }
}