.section {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title {
    font-size: 2.5em;
    color: var(--primary-color);
}

section {
    width: 70vw;
    height: 90%;
    display: flex;
    align-items: center;
}

.split {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5em;
}

.center {
    flex-direction: column;
    text-align: center;
    width: 35vw;
}

.odd_section {
    background-color: var(--odd_section_color);
}

h3 {
    font-size: 30px;
    color: var(--primary-color);
}

p,
ul {
    font-size: 20px;
    color: var(--primary-font);
}

#main_title_buttons {
    text-align: center;
}
 
#main_title_buttons > button {
    outline: var(--primary-color) solid 2px;
    background-color: white;
    border: none;
    border-radius: .5em;
    color: var(--primary-color);
    font-size: 25px;
    padding: .75em 2em;
    margin: 1em;
}

#main_title_buttons > button > a {
    text-decoration: none;
    color: var(--primary-color);
}

#main_title_buttons > button:hover {
    cursor: pointer;
    outline: var(--selected_color) solid 2px;
    color: var(--selected_color);
}

#main_title_buttons > button:hover > a {
    color: var(--selected_color);
}

.section_image {
    height: 75%;
    width: 100%;
    border: 2px solid var(--primary-color);
}

@media screen and (max-width: 480px) {
    section, .center {
        width: 90vw;
    }
    .split {
        display: block;
        text-align: center;
    }
    .section_image {
        display: none;
    }
    ul {
        display: none;
    }
    #main_title_buttons > button {
        padding: .5em 1em;
    }
  }