header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

nav.navbar {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.App-logo {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

ul.navlist {
    display: flex;
}

li.navlink {
    display: flex;
    list-style: none;
    padding: .5em 0 .5em 0;
}

a.navlink {
    padding: .5em;
    color: var(--primary-font);
    text-decoration: none;
    font-size: 30px;
    border-radius: .25em;
}

a.logo_link {
    color: var(--primary-font);
    text-decoration: none;
}

a.navlink:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

.App-logo:hover {
    background-color: var(--hover-color);
}