header {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 6em;
}

nav.navbar {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.navbar_logo {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

ul.navlist {
    display: flex;
    padding: 0;
}

li.navlink {
    display: flex;
    list-style: none;

}

a.navlink {
    padding: .5em 1em;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 25px;
}

a.navlink:hover {
    color: var(--selected_color);
}

#navbar_logo_svg:hover {
    fill: var(--hover-color);
}