.section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title {
    font-size: 55px;
    color: var(--primary-color);
    text-align: center;
}

#main_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
}

section {
    width: 60vw;
    height: 90%;
}

.odd_section {
    background-color: var(--odd_section_color);
}

h3 {
    font-size: 30px;
    color: var(--primary-color);
}

p,
ul {
    font-size: 20px;
}